In [6]:
import pandas as pd
import numpy as np
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["stepup"]
collection = db["shoes"]

# Fetch data from MongoDB
cursor = collection.find({})

# Create a DataFrame from MongoDB cursor
df = pd.DataFrame(list(cursor))

df.head()

,_id,shoeDetails,additionalFeatures,addedTimestamp
0,66901a5cf0933ae3d962947b,"{'size': '13', 'color': 'Black', 'brand': 'Adi...","{'hasLaces': True, 'isAthletic': True}",2024-07-11T20:53:12.519940
1,66901a5cf0933ae3d962947c,"{'size': '12', 'color': 'Brown', 'brand': 'H&M...","{'hasLaces': False, 'isAthletic': False}",2024-07-11T20:53:12.519940
2,66901a5cf0933ae3d962947d,"{'size': '10', 'color': 'Blue', 'brand': 'Vans...","{'hasLaces': True, 'isAthletic': False}",2024-07-11T20:53:12.519940

In [7]:
import pandas as pd   
import numpy as np 


#load dataset
df = pd.read_json('C:\Capstone_OnlineStore\python\shoes.json')

# Check the columns of your DataFrame
print(df)

     shoe_id                                        shoeDetails  \
0          0  {'brand': 'Vans', 'shoe_type': 'formal', 'colo...
1          1  {'brand': 'Converse', 'shoe_type': 'athletic',...
2          2  {'brand': 'Vans', 'shoe_type': 'athletic', 'co...
3          3  {'brand': 'UGG', 'shoe_type': 'formal', 'color...
4          4  {'brand': 'Adidas', 'shoe_type': 'sandals', 'c...
..       ...                                                ...
995      995  {'brand': 'Converse', 'shoe_type': 'athletic',...
996      996  {'brand': 'Birkenstock', 'shoe_type': 'formal'...
997      997  {'brand': 'Vans', 'shoe_type': 'boots', 'color...
998      998  {'brand': 'Adidas', 'shoe_type': 'formal', 'co...
999      999  {'brand': 'Crocs', 'shoe_type': 'formal', 'col...

                                    additionalFeatures
0    {'isPopular': True, 'inStock': True, 'onSale':...
1    {'isPopular': False, 'inStock': False, 'onSale...
2    {'isPopular': True, 'inStock': True, 'onSale':...
3    {'isPopular': True, 'inStock': True, 'onSale':...
4    {'isPopular': True, 'inStock': False, 'onSale'...
..                                                 ...
995  {'isPopular': True, 'inStock': True, 'onSale':...
996  {'isPopular': True, 'inStock': False, 'onSale'...
997  {'isPopular': False, 'inStock': False, 'onSale...
998  {'isPopular': True, 'inStock': False, 'onSale'...
999  {'isPopular': True, 'inStock': True, 'onSale':...

[1000 rows x 3 columns]

<>:6: SyntaxWarning: invalid escape sequence '\C'
<>:6: SyntaxWarning: invalid escape sequence '\C'
C:\Users\wasadmin\AppData\Local\Temp\ipykernel_11368\4150060251.py:6: SyntaxWarning: invalid escape sequence '\C'
  df = pd.read_json('C:\Capstone_OnlineStore\python\shoes.json')

In [10]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

df = pd.read_json("shoes.json")

# pick relevant columns of choice
df_selected = df[['shoe_id', 'shoeDetails', 'additionalFeatures']].copy()

# Extract specific values from nested dictionaries
df_selected['brand'] = df_selected['shoeDetails'].apply(lambda x: x['brand'])
df_selected['shoe_type'] = df_selected['shoeDetails'].apply(lambda x: x['shoe_type'])
df_selected['color'] = df_selected['shoeDetails'].apply(lambda x: x['color'])
df_selected['size'] = df_selected['shoeDetails'].apply(lambda x: x['size'])
df_selected['price'] = df_selected['shoeDetails'].apply(lambda x: x['price'])
df_selected['isPopular'] = df_selected['additionalFeatures'].apply(lambda x: x['isPopular'])

# dropping redundant columns
df_selected.drop(['shoeDetails', 'additionalFeatures'], axis=1, inplace=True)
df_selected

     shoe_id        brand shoe_type   color  size   price  isPopular
0          0         Vans    formal  purple     5  271.56       True
1          1     Converse  athletic   white     7  199.30      False
2          2         Vans  athletic   beige     9  190.17       True
3          3          UGG    formal    pink    11  157.23       True
4          4       Adidas   sandals   white    12  208.93       True
..       ...          ...       ...     ...   ...     ...        ...
995      995     Converse  athletic   green    13   33.32       True
996      996  Birkenstock    formal    gray    13  136.25       True
997      997         Vans     boots    pink    12   43.69      False
998      998       Adidas    formal   beige     6  155.96       True
999      999        Crocs    formal   white     5  217.18       True

[1000 rows x 7 columns]

In [11]:

# categorical vars application of one-hot encoding 
df_encoded = pd.get_dummies(df_selected, columns=['brand', 'shoe_type', 'color', 'isPopular'])

knn = NearestNeighbors(n_neighbors=3).fit(df_encoded)

print(knn)

NearestNeighbors(n_neighbors=3)

In [14]:
selected_product_features = df_encoded[df_encoded['shoe_id'] == 3]
selected_product_index = selected_product_features.index[0]
distances, indices = knn.kneighbors(selected_product_features)
recommended_product_indices = indices.flatten()
recommended_products = df_selected.iloc[recommended_product_indices]

print("Selected Product:")
print(df_selected.iloc[selected_product_index])
print("\nRecommended Products:")
print(recommended_products)

Selected Product:
shoe_id           3
brand           UGG
shoe_type    formal
color          pink
size             11
price        157.23
isPopular      True
Name: 3, dtype: object

Recommended Products:
    shoe_id  brand shoe_type   color  size   price  isPopular
3         3    UGG    formal    pink    11  157.23       True
14       14   Vans   sandals   white    10  152.70      False
12       12  Crocs   sandals  purple    10  170.50       True

In [13]:

with open('KNNmodel.pkl', 'wb') as f:
    pickle.dump(knn, f)